* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main {
  position: relative;
  max-width: 2560px;
  margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
  max-width: 980px;
  position: relative;
  padding: 0 20px;
}

.navigation-bar__container {
  display: flex;
  justify-content: space-around;
  position: relative;
  padding: 20px 50px 10px; 
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.navigation-bar__indicator { 
  content: '';
  width: 0;
  height: 1px;
  bottom: -1px;
  position: absolute;
  background-color: #000;
  transition: all 1s ease;
}

.navigation-bar__link {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #000;
  opacity: 0.3;
  font-size: 1em;
}

.navigation-bar__link:hover {
  color: #06c;
  opacity: 1;
}

.navigation-bar__link--active {
  opacity: 1;
}
